<!DOCTYPE html>

<!--
  Frank Yu
  Date: Jan 10, 2021
-->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename= 'js/index.js') }}"></script>
    <title>SBviper</title>
  </head>
  <body>
    <header>
      <h1>Iterative development & Simulation experimental verification</h1>
    </header>
    <main>
      <form id='input-form' action = "/run" enctype="multipart/form-data">
        <div>
          <input type="file" id="original-file" name="original-file">
          <label for="file-type-1">Select the type of first files:</label>
          <select id="file-type-1" name="file-type-1">
            <option value="Antimony" selected>Antimony</option>
            <option value="SBML">SBML</option>
            <option value="CSV">CSV</option>
          </select>
        </div>
        <div>
          <input type="file" id="revised-file" name="revised-file">
          <label for="file-type-2">Select the type of second files:</label>
          <select id="file-type-2" name="file-type-2">
            <option value="Antimony" selected>Antimony</option>
            <option value="SBML">SBML</option>
            <option value="CSV">CSV</option>
          </select>
        </div>
        <div>
          <input type="checkbox" id="frechet-distance" name="frechet-distance" value="frechet_distance">
          <label for="frechet-distance">frechet-distance-filter</label><br>
        </div>
        <div>
          <label for="tolerance">Enter tolerance value: </label>
          <input type="number" step=any id="tolerance" name="tolerance" value=0.5>
        </div>
        <input type="submit">
      </form>
      <select id="display-variables">
        <option value="all" selected>view-all</option>
      </select>
      <div class="tab">
        <button id="filtered-btn" class="tablinks">Filtered</button>
        <button id="non-filtered-btn" class="tablinks">Non-filtered</button>
        <button id="all-btn" class="tablinks">ALL</button>
      </div>

      <div id="filtered-content" class="tabcontent">
      </div>

      <div id="non-filtered-content" class="tabcontent">
      </div>

      <div id="all-content" class="tabcontent">
      </div>
    </main>
  </body>
</html>